In [1]:
import pickle
import pandas as pd
import numpy as np
output_path = '/Users/elizabeth/Documents/M_GPT4_CGM_Manuscript/response'

In [2]:
data_all = pd.DataFrame(columns = {'Mean','GMI','cv','min','max','percent active','TIR'})

data_all

Empty DataFrame
Columns: [percent active, Mean, min, max, cv, TIR, GMI]
Index: []

In [3]:
data_all = pd.DataFrame()

# Get statistics
for name in ['healthy_adult#008.csv','healthy_adult#006.csv','healthy_adult#007.csv',
             'dinner_adult#004.csv','dinner_adult#006.csv','dinner_adult#007.csv','mild_adult#006.csv',
    'breakfast_week_adult#005.csv','breakfast_week_adult#003.csv','breakfast_week_adult#008.csv']:
    name = 'date_corrected'+str(name)
    data=pd.read_csv(f'/Users/elizabeth/Documents/GPT4_CGM_Manuscript/processed_sim_data/{name}')
    
    name_ = name
    data_all.loc[name_,'Average']  = np.mean(data['CGM'])
    data_all.loc[name_,'GMI'] = 3.31 + 0.02392 *np.mean(data['CGM'])
    data_all.loc[name_,'CV' ]= np.std(data['CGM'])/np.mean(data['CGM'])
    data_all.loc[name_,'Mininum'] = np.min(data['CGM'])
    data_all.loc[name_,'Maximum'] = np.max(data['CGM'])
    data_all.loc[name_,'Percent active'] = len(data['CGM'])/(14*288)
    tbh= data[data['CGM']<180]
    data_all.loc[name_,'TIR'] = len(tbh[tbh['CGM']>70])/(len(data['CGM']))
    data_all.loc[name_,'TAR 1 (>180)'] = len(data[data['CGM']>180])/(len(data['CGM']))
    data_all.loc[name_,'TAR 2 (>300)'] = len(data[data['CGM']>250])/(len(data['CGM']))
    data_all.loc[name_,'TBR 1 (<70)'] = len(data[data['CGM']<70])/(len(data['CGM']))
    data_all.loc[name_,'TBR 2 (<54)'] = len(data[data['CGM']<54])/(len(data['CGM']))

In [4]:
round(data_all,3)

,Average,GMI,CV,Mininum,Maximum,Percent active,TIR,TAR 1 (>180),TAR 2 (>300),TBR 1 (<70),TBR 2 (<54)
date_correctedhealthy_adult#008.csv,112.587,6.003,0.206,58.0,209.0,0.915,0.975,0.009,0.000,0.013,0.000
date_correctedhealthy_adult#006.csv,128.555,6.385,0.241,61.0,236.0,0.885,0.945,0.047,0.000,0.003,0.000
date_correctedhealthy_adult#007.csv,121.243,6.210,0.181,70.0,208.0,0.977,0.992,0.006,0.000,0.000,0.000
date_correcteddinner_adult#004.csv,183.262,7.694,0.292,54.0,386.0,0.888,0.501,0.488,0.105,0.004,0.000
date_correcteddinner_adult#006.csv,195.552,7.988,0.335,56.0,400.0,0.924,0.445,0.543,0.198,0.005,0.000
date_correcteddinner_adult#007.csv,237.819,8.999,0.336,49.0,400.0,0.955,0.280,0.712,0.419,0.003,0.001
date_correctedmild_adult#006.csv,204.300,8.197,0.268,54.0,400.0,0.903,0.317,0.674,0.183,0.001,0.000
date_correctedbreakfast_week_adult#005.csv,148.839,6.870,0.381,47.0,400.0,0.992,0.758,0.216,0.061,0.020,0.003
date_correctedbreakfast_week_adult#003.csv,171.668,7.416,0.376,65.0,400.0,0.861,0.648,0.341,0.086,0.001,0.000
date_correctedbreakfast_week_adult#008.csv,140.246,6.665,0.271,39.0,332.0,0.974,0.837,0.124,0.012,0.031,0.008

In [5]:
table1= round(data_all.describe().transpose()[['mean','std', 'min','max']],3)

In [6]:
for idx, row in table1.iterrows():
    table1.loc[idx,'Mean'] = str(row['mean']) + ' (' + str(row['std']) + ')'

In [7]:
table1 = table1.drop(columns = {'std','mean'})

In [8]:
table1 = table1[['Mean','min','max']]

In [9]:
table1.to_clipboard()

In [10]:
table1

                            Mean      min      max
Average         164.407 (40.851)  112.587  237.819
GMI                7.243 (0.977)    6.003    8.999
CV                 0.289 (0.068)    0.181    0.381
Mininum             55.3 (8.994)   39.000   70.000
Maximum           337.1 (85.308)  208.000  400.000
Percent active     0.927 (0.045)    0.861    0.992
TIR                 0.67 (0.272)    0.280    0.992
TAR 1 (>180)       0.316 (0.274)    0.006    0.712
TAR 2 (>300)       0.106 (0.132)    0.000    0.419
TBR 1 (<70)         0.008 (0.01)    0.000    0.031
TBR 2 (<54)        0.001 (0.002)    0.000    0.008

In [11]:
round(data_all.describe().transpose()[['mean','std']],3).to_clipboard()

## Grade Results For Part 1

In [12]:
# Get statistics
data_all = pd.DataFrame()
for name in ['healthy_adult#008.csv','healthy_adult#006.csv','healthy_adult#007.csv',
             'dinner_adult#004.csv','dinner_adult#006.csv','dinner_adult#007.csv','mild_adult#006.csv',
    'breakfast_week_adult#005.csv','breakfast_week_adult#003.csv','breakfast_week_adult#008.csv']:
    name = 'date_corrected'+str(name)


    data=pd.read_csv(f'/Users/elizabeth/Documents/GPT4_CGM_Manuscript/processed_sim_data/{name}')
    
    name_ = name
    data_all.loc[name_,'days'] =14
    data_all.loc[name_,'percent_'] = len(data['CGM'])/(14*288)*100
    data_all.loc[name_,'mean']  = np.mean(data['CGM'])
    data_all.loc[name_,'GMI'] = 3.31 + 0.02392 *np.mean(data['CGM'])
    data_all.loc[name_,'cv' ]= np.std(data['CGM'])/np.mean(data['CGM'])
    #data_all.loc[name_,'min_val'] = np.min(data['CGM'])
    #data_all.loc[name_,'max_val'] = np.max(data['CGM'])
    tbh= data[data['CGM']<=180]
    data_all.loc[name_,'TAR2'] = len(data[data['CGM']>250])/(len(data['CGM']))*100
    data_all.loc[name_,'TAR1'] = len(data[data['CGM']>180])/(len(data['CGM']))*100
    data_all.loc[name_,'TIR'] = len(tbh[tbh['CGM']>=70])/(len(data['CGM']))*100
    data_all.loc[name_,'TBR1'] = len(data[data['CGM']<70])/(len(data['CGM']))*100
    data_all.loc[name_,'TBR2'] = len(data[data['CGM']<54])/(len(data['CGM']))*100

In [13]:
data_all

,days,percent_,mean,GMI,cv,TAR2,TAR1,TIR,TBR1,TBR2
date_correctedhealthy_adult#008.csv,14.0,91.542659,112.586562,6.003071,0.205700,0.000000,0.921160,97.778380,1.300461,0.000000
date_correctedhealthy_adult#006.csv,14.0,88.541667,128.555462,6.385047,0.241100,0.000000,4.705882,95.014006,0.280112,0.000000
date_correctedhealthy_adult#007.csv,14.0,97.668651,121.242763,6.210127,0.181222,0.000000,0.634840,99.365160,0.000000,0.000000
date_correcteddinner_adult#004.csv,14.0,88.814484,183.262217,7.693632,0.292199,10.471935,48.813181,50.795867,0.390952,0.000000
date_correcteddinner_adult#006.csv,14.0,92.410714,195.552067,7.987605,0.334534,19.779925,54.267311,45.195921,0.536769,0.000000
date_correcteddinner_adult#007.csv,14.0,95.486111,237.818701,8.998623,0.335625,41.896104,71.220779,28.441558,0.337662,0.077922
date_correctedmild_adult#006.csv,14.0,90.327381,204.299561,8.196845,0.268130,18.286656,67.435475,32.427238,0.137287,0.000000
date_correctedbreakfast_week_adult#005.csv,14.0,99.156746,148.838669,6.870221,0.380639,6.053027,21.585793,76.413207,2.001001,0.250125
date_correctedbreakfast_week_adult#003.csv,14.0,86.061508,171.668300,7.416306,0.375876,8.616715,34.121037,65.763689,0.115274,0.000000
date_correctedbreakfast_week_adult#008.csv,14.0,97.371032,140.246307,6.664692,0.271246,1.222618,12.404483,84.513500,3.082017,0.764137

In [14]:
data_allresults = data_all.copy()

In [15]:
data_allresults.loc['date_correcteddinner_adult#006.csv',:]= [14,
 92.41071428571429,
 195.55206655931295,
 7.987605432098766,
 0.33457858834842524,
 19.779924852388618,
 34.4873859366613,
 45.1959205582394,
 0.5367686527106817,
 0.0]

In [16]:
data_allresults.loc['date_correcteddinner_adult#004.csv',:]= [14,
 88.81448412698413,
 183.26221725774923,
 7.693632236805362,
 .2922393190149307,
 10.471935213627479,
 48.813180675788885,
 50.79586707623569,
 0.3909522479754258,
 0.0]

In [17]:
data_allresults.loc['date_correctedbreakfast_week_adult#003.csv',:] = [14,86.06150793650794,
                                                                     171.66829971181556,
                                                                     7.416305729106629,
                                                                     0.37593055961108296,
                                                                     8.61671469740634,25.504322766570606, 65.76368876080691,0.11527377521613834, 0.0]

In [18]:
data_allresults.loc['date_correctedbreakfast_week_adult#005.csv',:] = [14,
 99.15674603174604,
 148.83866933466734,
 6.870220970485243,
 0.38068665722278633,
 6.053026513256628,
 21.585792896448226,
 76.41320660330166,
 2.001000500250125,
 0.25012506253126565]

In [19]:
data_allresults.loc['date_correctedbreakfast_week_adult#008.csv',:] = [14,
 97.37103174603175,
 140.246306673459,
 6.66469165562914,
 .27128065219669722,
 1.2226184411614875,
 12.40448293428426,
 84.51349974528782,
 3.0820173204279167,
 0.7641365257259297]

In [20]:
data_allresults.loc['date_correcteddinner_adult#007.csv',:]= [14,
 95.48611111111111,
 237.81870129870128,
 8.998623335064934,
 0.3356681335163809,
 41.896103896103895,
 29.324675324675326,
 28.44155844155844,
 0.33766233766233766,
 0.07792207792207792]

In [21]:
data_allresults.loc['date_correctedhealthy_adult#008.csv',:] = [14,
 91.54265873015873,
 112.58656190734219,
 6.003070560823625,
 .20572804067435392,
 0.0,
 0.9211595773503115,
 97.77837984286101,
 1.3004605797886752,
 0.0]

In [22]:
data_allresults.loc['date_correctedhealthy_adult#007.csv',:] = [14,
 97.66865079365078,
 121.24276282376842,
 6.210126886744541,
 .18124460253843676,
 0.0,
 0.6348400203148806,
 99.36515997968513,
 0.0,
 0.0]

In [23]:
data_allresults.loc['date_correctedhealthy_adult#006.csv',:] = [14,
 88.54166666666666,
 128.55546218487396,
 6.385046655462185,
 .2411334816378559,
 0.0,
 4.705882352941177,
 95.01400560224089,
 0.2801120448179272,
 0.0]

In [24]:
data_allresults.loc['date_correctedmild_adult#006.csv',:] = [14,
 90.32738095238095,
 204.29956068094452,
 8.196845491488194,
 .26816687583119098,
 18.28665568369028,
 49.148819330038435,
 32.42723778143877,
 0.1372872048325096,
 0.0]

In [25]:
data_allresults

,days,percent_,mean,GMI,cv,TAR2,TAR1,TIR,TBR1,TBR2
date_correctedhealthy_adult#008.csv,14.0,91.542659,112.586562,6.003071,0.205728,0.000000,0.921160,97.778380,1.300461,0.000000
date_correctedhealthy_adult#006.csv,14.0,88.541667,128.555462,6.385047,0.241133,0.000000,4.705882,95.014006,0.280112,0.000000
date_correctedhealthy_adult#007.csv,14.0,97.668651,121.242763,6.210127,0.181245,0.000000,0.634840,99.365160,0.000000,0.000000
date_correcteddinner_adult#004.csv,14.0,88.814484,183.262217,7.693632,0.292239,10.471935,48.813181,50.795867,0.390952,0.000000
date_correcteddinner_adult#006.csv,14.0,92.410714,195.552067,7.987605,0.334579,19.779925,34.487386,45.195921,0.536769,0.000000
date_correcteddinner_adult#007.csv,14.0,95.486111,237.818701,8.998623,0.335668,41.896104,29.324675,28.441558,0.337662,0.077922
date_correctedmild_adult#006.csv,14.0,90.327381,204.299561,8.196845,0.268167,18.286656,49.148819,32.427238,0.137287,0.000000
date_correctedbreakfast_week_adult#005.csv,14.0,99.156746,148.838669,6.870221,0.380687,6.053027,21.585793,76.413207,2.001001,0.250125
date_correctedbreakfast_week_adult#003.csv,14.0,86.061508,171.668300,7.416306,0.375931,8.616715,25.504323,65.763689,0.115274,0.000000
date_correctedbreakfast_week_adult#008.csv,14.0,97.371032,140.246307,6.664692,0.271281,1.222618,12.404483,84.513500,3.082017,0.764137

In [26]:
final_results = (round(data_all,2)-round(data_allresults,2)).mean()

In [27]:
(round(data_all,2)-round(data_allresults,2))

,days,percent_,mean,GMI,cv,TAR2,TAR1,TIR,TBR1,TBR2
date_correctedhealthy_adult#008.csv,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0
date_correctedhealthy_adult#006.csv,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0
date_correctedhealthy_adult#007.csv,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0
date_correcteddinner_adult#004.csv,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0
date_correcteddinner_adult#006.csv,0.0,0.0,0.0,0.0,0.0,0.0,19.78,0.0,0.0,0.0
date_correcteddinner_adult#007.csv,0.0,0.0,0.0,0.0,0.0,0.0,41.90,0.0,0.0,0.0
date_correctedmild_adult#006.csv,0.0,0.0,0.0,0.0,0.0,0.0,18.29,0.0,0.0,0.0
date_correctedbreakfast_week_adult#005.csv,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0
date_correctedbreakfast_week_adult#003.csv,0.0,0.0,0.0,0.0,0.0,0.0,8.62,0.0,0.0,0.0
date_correctedbreakfast_week_adult#008.csv,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0